.fade-enter {
  opacity: 0;
  filter: blur(5rem);
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms;
  filter: blur(0);
}
.fade-exit {
  opacity: 1;
  filter: blur(0);
}
.fade-exit-active {
  opacity: 0;
  filter: blur(5rem);
  transition: all 500ms;
}
